<div>
	<p>Title :<%= link_to event.title, event %></p>
	<p>Content :<%= event.content %></p>
	<p>Date :<%= event.date %></p>
	<button><%= link_to 'Join Event', join_path(event) %></button>
	<button><%= link_to 'Leave Event', leave_path(event) %></button>
</div>
<hr>